@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: Poppins;
    background-color: #101010;
    color: #fff;
}

.name {
    text-align: center;
    font-weight: 600;
    text-decoration: underline 7px #F7C21C;
}

.name-sm {
    font-weight: 600;
    text-decoration: underline 5px #F7C21C;
}